@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto+Slab&display=swap");

h1,
h5 {
    font-family: "Reggae One", cursive;
}

p,
.link-light,
.form-control {
    font-family: "Roboto Slab", serif;
}

.btn {
    font-family: "Reggae One", cursive;
    color: white;
    font-weight: 500;
}
